<div id="login">
<iframe src="../shared/sink.html" name="sink" style="display:none"></iframe>
<img class="loginImage" src = "../assets/img/SportanaWhite-08.png">

<form name="loginForm"
      action="sink.html" target="sink" method="post"
      ng-submit="login(credentials)"
      novalidate form-autofill-fix>
  <!--<label for="username">Email:</label>!-->
  <input class="loginInput form-control" placeholder="Email"  type="text" id="email"
         ng-model="credentials.email">
  <!--<label for="password">Password:</label>!-->
  <input class="loginInput form-control" placeholder="Password" type="password" id="password"
         ng-model="credentials.password">
  <button class="btn btn-lg btn-primary loginButton" type="submit">Login</button>
</form>

<a ui-sref="signup">No account? Signup</a>
</div>