<div id="signup">
<img src = "../assets/img/SportanaWhite-08.png">
<form name="signupForm"
      method="put"
      ng-submit="signup(credentials)"
      novalidate form-autofill-fix>
  <label for="fname">First Name:</label>
  <input placeholder="First Name" type="text" id="fname"
         ng-model="credentials.firstname">

 <label for="lname">Last Name:</label>
 <input placeholder="Last Name" type="text" id="lname"
        ng-model="credentials.lastname">

        <br>

  <label for="username">Email:</label>
  <input placeholder="Email" type="text" id="email"
         ng-model="credentials.email">

  <label for="password">Password:</label>
  <input  placeholder="Password" type="text" id="password"
         ng-model="credentials.password">

         <br>

 <label for="city">Current City:</label>
 <input  placeholder="Current City" type="text" id="city"
        ng-model="credentials.city">

  <label for="dob">Birthday:</label>
  <input type="date" id="date"
         ng-model="credentials.dob">

  <button type="submit">Signup</button>
</form>

<a ui-sref="login">Already have an account? Login</a>
</div>