html
{
  width: auto !important;
  overflow-x: hidden !important;
}

body {
  width: auto !important;
  overflow-x: hidden !important;
  padding-top: 50px;
}

/* Hide for mobile, show later */
/*.sidebar {
  display: none;
}*/

/****  START SIDEBAR ****/

.sidebar {
  background-color: #808386;
  font-size: 15pt;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  }
}

/* Sidebar navigation */
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar a {
  color: #C4C5C8;
}

.nav-sidebar .active a {
  color: #FFFFFF;
  font-size: 30pt;
}

.nav-sidebar > .active > a:hover {
  color: #000000;
}

.nav-sidebar a:hover {
  color: #808386;
  background-color: #000000;
}

#toggleMenuBtn{
  display: none;
}

.nav-sidebar > a:hover {
  background-color: #000000;
}

/****  END SIDEBAR ****/



/****  START VIEWGAMES ****/

#viewGames .notifications, #viewGames .games{
  border:#000 solid 3px;
}
#viewGames .notification, #viewGames .game{
  border:green dotted 1px;
}
#viewGames .row{
  margin:0;
}
#viewGames .sport{
  width:60px;
}
#viewGames .game .player{
  width:50px;
  height:50px;
}

/****  END VIEWGAMES ****/

/**** START VIEW PROFILE ****/

.profile{
  margin: 10px;
  padding: 20px;
  background-color: rgb(200,200,200);
}

.profileName{
    font-size: 42px;
} 

.profileInfoHolder{


}

.profileNameHolder{

}

.profileImage{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
}

.profileImageHolder{
  
}

.profileCity{
  font-size: 25px;
  margin-top: -15px;
}

.ratingsHolder
{
  margin-top: 25px;
}

.barGraphBarHolder
{
  background-color:#ffffff; 
  height:100px; 
  width:50px;
  position:relative;

  margin-left: auto;
  margin-right: auto;
}

.barGraphBarValue
{
    font-size: 20px;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
}

.barGraphLabel
{
  text-align: center;
  font-size: 16px;
}

.barGraphBar
{
  background-color:#bb2222; 
  position: absolute;
  bottom: 0;
  width: 100%;
}

/**** END VIEW PROFILE ****/




@media (max-width: 767px) {
	.navbar-form
	{
		padding-bottom: 0px;
		margin-top: 0px;
		border-bottom: none;
		border-top: none;
	}

  #toggleMenuBtn{
    display: block;
    font-size: 30px;
    height:auto;
  }
}


#logo
{
	max-width: 100%;
	margin-bottom: 20px;
}

#searchBar {
  background-color: #AFB0B3;
  width: 100%;
}

.container-fluid {
  padding-right: 7px;
  padding-left: 5px;
}

#search {
  text-align: center;
  margin 0 0;
  white-space:normal;
}

@media (min-width: 768px) {
  #search {
    width: 400px;
  }
}

/* Main -- The region of the screen excluding the sidebar and search bar */
.main {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background-color: #F0F0F1;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 768px) {
  .main { }
}
.main .page-header {
  margin-top: 0;
}

#queue-content {
  background-color: red
}

#queue-preferences {
  background-color: black
}


/*
 * Sport Selection (Needs a heavy refactoring.  CSS is such a fucking hack...)
 * --------------------------------------------------
 */

#instructions {

  font-size: 20pt;
  font-weight: 200;
  color: #464648;
  height: 50px;
  margin: 50px auto;
  text-align: center;
}

#instructions > .btn {
  color: #FFFFFF;
  background-color: #15A95F;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5;
  padding-bottom: 5;
}

#sportPicker { 
  width: auto;
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; 
}

.sportPanel { 
  
  font-size: 18pt;
  width: 200px;
  height: 100%;
  vertical-align: top;
  padding: 10px;
  border-top: 1px solid #C7C8CA;
  border-bottom: 1px solid #C7C8CA;
  border-right: 1px solid #C7C8CA;
  display: inline-block;
  white-space:normal;
  text-align: center;
  background-color: #FFFFFF;
  position: relative 
}

.sportPanel .description {
  font-size: 18px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
} 

.sportPanel .sportIcon {
  width: 100%;
  padding: 20px;
}

#sportPicker .selected {
  background-color: #E1E2E4;
  border-right: 1px solid #FFFFFF ;
} 

#selectedSports {
  
  font-size: 20pt;
  margin: 50px auto;
  text-align: center;
  white-space:normal;
}

#selectedSports .btn {
  display: inline-block;
  margin: 5px 5px;
  color: #FFFFFF;
  background-color: #464648;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5;
  padding-bottom: 5;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
