<div id="searchBar" class="navbar navbar-top" role="navigation">

    <div id="nav-right-div">
      <div id="account" class="navbar-form">
        <button class="btn btn-default" ><span style="font-size: 15pt;vertical-align: middle;" class="glyphicon glyphicon-bell" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-md " id="logout" ng-click="logout()">Logout</button>
      </div>
    </div>

    <div id="nav-middle-div">
      <button type="button" class="col-xs-2 btn btn-md btn-link" id="toggleMenuBtn"
              ng-click="toggleMenu()" data-toggle="offcanvas">
              <span class="glyphicon glyphicon-align-justify"></span></button>

      <form class="searchbarSearchForm navbar-form" role="search" ng-submit="submitSearch()">
          <input id="search" ng-model="searchQuery" type="text" class="form-control" placeholder="Search for Players">
      </form>
    </div>

</div>
