<div id="searchBar" class="navbar navbar-default navbar-fixed-top container col-sm-offset-3 col-md-offset-3 col-md-9" role="navigation">

    <button type="button" class="col-xs-2 btn btn-md btn-link" id="toggleMenuBtn"
            ng-click="toggleMenu()" data-toggle="offcanvas">
            <span class="glyphicon glyphicon-align-justify"></span></button>

    <form class="searchbarSearchForm col-md-10 navbar-form navbar-left" role="search" ng-submit="submitSearch()">
      <div class="form-group col-xs-8">
        <input id="search" ng-model="searchQuery" type="text" class="form-control" placeholder="Search for Players">
      </div>
    </form>

  <div id="account" class="navbar-form col-xs-2 col-md-2">
    <button type="button" class="btn btn-md " id="logout" ng-click="logout()">Logout</button>
  </div>

</div>
