<h1 class="page-header">View Friends</h1>
<div id="friends">
	<a class="row friend btn btn-default" ng-repeat="friend in friends" ui-sref="app.user({userId: friend.login})">
		<div class="col-md-4 col-lg-4">
			<img ng-src="{{friend.profilePhoto}}" class="img-round"/>	
		</div>
		<div class="col-md-8 col-lg-8">
			<div class="info">
				<div class="name">
					{{friend.firstName}} {{friend.lastName}}
				</div>
				<div class="age">
					Age: {{friend.age}}
				</div>
				<div class="location">
					City: {{friend.city}}
				</div>
				<div class="view">
					<div class="btn btn-primary">View Profile</div>
				</div>
			</div>
		</div>
	</a>
</div>
