<h1 class="page-header">View Friends</h1>
<div id="friends">
	<div class="row friend btn btn-default" ng-repeat="friend in friends">
		<div class="col-md-4">
			<img ng-src="{{friend.profilePhoto}}" class="img-round"/>	
		</div>
		<div class="col-md-8">
			<div class="info">
				<div class="name">
					{{friend.firstName}} {{friend.lastName}}
				</div>
				<div class="age">
					Age: {{friend.age}}
				</div>
				<div class="location">
					City: {{friend.city}}
				</div>
				<div class="view">
					<a class="btn btn-primary" ui-sref="app.user({userId: friend.login})">View Profile</a>
				</div>
			</div>
		</div>
	</div>
</div>
