input {
	margin-bottom:10px;
}

#welcome{
	text-decoration: none;
	color: #FFF;
	text-align: center;
}

.sign-in{
	background-color: #ccc;
	padding:10px;
	border-radius:10px;
}
#signupForm .btn
{
	width:100%;
}
.ng-dirty.ng-invalid
{
	border-color: red;
}

.ng-dirty.ng-valid
{
	border-color: green;
}

@media only screen and (min-device-width : 720px) {
	
	input
	{
		max-width: 250px;
	}
}

.left-menu {
	background-color: #A5A5A5;
	height: 100%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}