input {
	margin-bottom:10px;
}

#welcome{
	text-decoration: none;
	color: #FFF;
	text-align: center;
}

.sign-in{
	background-color: #ccc;
	padding:10px;
	border-radius:10px;
}
#signupForm .btn
{
	width:100%;
}
.ng-dirty.ng-invalid
{
	border-color: red;
}

.ng-dirty.ng-valid
{
	border-color: green;
}

.left-menu img
{
	max-width: 100%;
}

.left-menu 
{
	background-color: #FFFFFF;
	height: auto;
}

.team-member {
	display:inline-block;
	padding:10px;

}
.team-member.even {
	background:#eee;
}
.team-member.odd {
	background:#D2D2D2;
}
.team-member img{
	padding-right:10px;
	
}

@media (min-width: 992px) { 
	.left-menu {
		max-width: auto;
		background-color: #A5A5A5;
		height: 100%;
	}
}

.btn:active, .btn:hover {
	outline: none !important;
}


/*.vcenter {
    display: inline-block;
    vertical-align: middle;
}*/