app.service('CurrentUser', function () {

 this.user = null;

 this.getUser = function () {
   return this.user;
 };

 // Creates a session and stores the auth Token
 this.setUser = function (user) {
   this.user = user;
 };

 return this;
})
