extends layout

doctype html
html
  head
    h1= title
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script.
       window.fbAsyncInit = function() {
        FB.init({
          appId      : '346297012198827',
          xfbml      : true,
          version    : 'v2.1'
        });
       };
       (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    block content
        fb:login-button(scope="public_profile,email" onlogin="checkLoginState();")
        div(id='status')





