<div id="create-game"> <!-- TODO : Change this ID -- just using for now to get the style w/o refactoring -->

	<div id="instructions">

		{{instructions}}

		<button class="btn" ng-hide="isEditMode()" ng-click="enterEditMode()">Edit</button>
		<button class="btn" ng-hide="isEditMode()" ng-click="createGame()">Create Game</button>

		<button class="btn" ng-show="isEditMode()" ng-click="updatePreferences()" ng-disabled="!isSaveValid()">Save</button>
		<button class="btn" ng-show="isEditMode()" ng-click="cancelPreferenceChanges()">Cancel</button>

		<button class="btn" ng-show="!isEditMode() && hasPreferences" ng-click="dropFromQueue()">Drop Queue</button>

	</div>

	<div class="hairline"></div>

	<div id="edit-queue-preferences" ng-show="isEditMode()">  <!-- TODO : Refactor--too many nested divs... -->
		<div id="queue">
			<div id="game-information">

				<!-- SPORT SELECTION -->
				<!-- <div class="hairline"></div> -->
				<div class="top row">
					<div id="selectedSports" class="col-md-5 queue-left">

						<span class="select-sport-prompt" ng-hide="Queue.hasSelectedSports()">
							You must select at least one sport to look for games
						</span>

						<!-- TODO : Replace remove with toggle? -->
						<button class="selectedSports btn" ng-repeat="sport in Queue.getSelectedSports()" ng-click="Queue.removeSport(sport)">{{sport.sport}}  X</button>
					</div>

					<div class="details col-md-7">
						<div class="city row">
							<div class="col-md-2 vert">
								City
							</div>
							<div class="col-md-10">
								<input type="text" ng-model="preferences.city" class="form-control" placeholder="Where would you like to play?"/>
							</div>
						</div>
						<div class="age row">
							<div class="col-md-2 vert">
								Age
							</div>
							<div class="col-md-1 small-label">
								Min
							</div>
							<div class="col-md-4">
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle form-control number" type="button" data-toggle="dropdown" aria-expanded="false">
										{{Queue.currentAgeMin()}}
									</button>
									<ul class="dropdown-menu dropdown-number" role="menu">
										<li ng-repeat="age in agesMin()" ng-click="toggleMinAge(age)" ng-class="{selected: preferences.ageMin == age}" class="menu-item">
											{{age}}
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-1 small-label">
								Max
							</div>
							<div class="col-md-4">
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle form-control number" type="button" data-toggle="dropdown" aria-expanded="false">
										{{Queue.currentAgeMax()}}
									</button>
									<ul class="dropdown-menu dropdown-number" role="menu">
										<li ng-repeat="age in agesMax()" ng-click="toggleMaxAge(age)" ng-class="{selected: preferences.ageMax === age}" class="menu-item">
											{{age}}
										</li>
									</ul>
								</div>
							</div>
						</div>


						<div class="game-type row">
							<div class="col-md-2 vert">

							</div>

							<div class="col-md-10 small-label checkbox-holder">
								<label>
									<input class="checkbox" type="checkbox" ng-model="preferences.competitive">Competitive
								</label>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

		<div id="sportPicker">
	    	<div class="sportPanel" ng-repeat="sport in sports" ng-class="{selected: Queue.isSelected(sport)}" ng-click="Queue.toggle(sport)">
	    		<img class="sportIcon" ng-src="{{sport.image}}"/>
	    		<br>{{sport.sport}}<br>
		   </div>
		</div>

	</div>

	<div id="view-queue-normal" ng-hide="isEditMode()">

		<div id="queue-preferences-overview" ng-show="hasPreferences" class="{minimized: isViewingMatches()}">

			<ul>
				<li ng-repeat="sport in preferences.sports" class="queue-sport-tag">
					{{sport.image}}
					{{sport.sport}}
				</li>
			</ul>

			{{preferences.city}}
			{{preferences.ageMin}}
			{{preferences.ageMax}}
			{{gameType()}}

		</div>

		<div id="queue-game-matches" ng-show="isViewingMatches()">

			<ul class="list-unstyled">
				<li ng-repeat="game in matches" class="queue-game-row">
					<img class="sportIcon sport-thumbnail" ng-src="{{game.sportImage}}"/>
					{{game.sport}}
					{{game.location}}
					{{game.numParticipants}}
					{{game.gameDate}}
					{{game.gameStart}}
					{{game.gameEnd}}
					{{game.minPlayers}}
					{{game.maxPlayers}}

					<span ng-show="isJoined(game)">Joined</span>

					<button class="btn" ng-click="viewGame(game)">View</button>
					<button class="btn" ng-hide="isJoined(game)" ng-click="joinGame(game)">Join</button>
					<button class="btn" ng-hide="isJoined(game)" ng-click="declineGame(game)">Dismiss</button>

				</li>
			</ul>

			<!-- ALTERNATE LAYOUT for GAMES view -->

			<!-- <div class="row games">
				<h2>My Games</h2>
				<div class="game row btn btn-default" ng-repeat="game in matches" >
					<div class="col-md-3"><img class="sport" ng-src='{{game.sportImg}}' /> {{game.sport}}</div>
					<div class="col-md-4">
						Location: {{game.location}}
					</div>
					<div class="col-md-3">
						Date: {{game.gameDate | date}} <br />
						Time: {{game.gameStart}}
					</div>
					<div class="col-md-2">
						<a class="btn btn-primary" ui-sref="app.viewGame({creatorId: game.creator, gameId: game.gameID})">View Game</a>
					</div>
				</div>
			</div> -->

			<!-- END ALTERNATE LAYOUT -->

		</div>

	</div>

</div>
