<div id="create-game"> <!-- TODO : Change this ID -- just using for now to get the style w/o refactoring -->

	<div id="instructions">

		{{instructions}}

		<button class="btn" ng-hide="isEditMode()" ng-click="enterEditMode()">Edit</button>
		<button class="btn" ng-hide="isEditMode()" ng-click="createGame()">Create Game</button>

		<button class="btn" ng-show="isEditMode()" ng-click="updatePreferences()">Save</button>
		<button class="btn" ng-show="isEditMode()" ng-click="cancelPreferenceChanges()">Cancel</button>

		<button class="btn" ng-show="!isEditMode() && hasPreferences" ng-click="dropFromQueue()">Drop Queue</button>

	</div>

	<div id="edit-queue-preferences" ng-show="isEditMode()">  <!-- TODO : Refactor--too many nested divs... -->
		<div id="queue">
			<div id="game-information">

				<!-- SPORT SELECTION -->
				<div class="hairline"></div>
				<div class="top row">
					<div id="selectedSports" class="col-md-5">

						<!-- TODO : Replace remove with toggle? -->
						<button class="btn" ng-repeat="sport in getSelectedSports()" ng-click="removeSport(sport)">{{sport.name}}  X</button>
					</div>
					<div class="details col-md-7">
						<div class="city row">
							<div class="col-md-2 vert">
								City
							</div>
							<div class="col-md-10">
								<input type="text" ng-model="preferences.city" class="form-control"/>
							</div>
						</div>
						<div class="age row">
							<div class="col-md-2 vert">
								Age
							</div>
							<div class="col-md-1 small-label">
								Min
							</div>
							<div class="col-md-4">
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle form-control number" type="button" data-toggle="dropdown" aria-expanded="false">
										{{preferences.ageMin}}
									</button>
									<ul class="dropdown-menu dropdown-number" role="menu">
										<li ng-repeat="age in agesMin()" ng-click="toggleMinAge(age)" ng-class="{selected: preferences.ageMin == age}" class="menu-item">
											{{age}}
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-1 small-label">
								Max
							</div>
							<div class="col-md-4">
								<div class="btn-group">
									<button class="btn btn-default dropdown-toggle form-control number" type="button" data-toggle="dropdown" aria-expanded="false">
										{{preferences.ageMax}}
									</button>
									<ul class="dropdown-menu dropdown-number" role="menu">
										<li ng-repeat="age in agesMax()" ng-click="toggleMaxAge(age)" ng-class="{selected: preferences.ageMax === age}" class="menu-item">
											{{age}}
										</li>
									</ul>
								</div>
							</div>
						</div>


						<div class="game-type row">
							<div class="col-md-2 vert">

							</div>

							<div class="col-md-10 small-label checkbox-holder">
								<label>
									<input class="checkbox" type="checkbox" ng-model="preferences.competitive">Competitive
								</label>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

		<div id="sportPicker">
	    	<div class="sportPanel" ng-repeat="sport in sports" ng-class="{selected: Queue.isSelected(sport)}" ng-click="Queue.toggle(sport)">
	    		<img class="sportIcon" ng-src="{{sport.image}}"/>
	    		<br>{{sport.sport}}<br>
		   </div>
		</div>
	</div>

	<div id="view-queue-normal" ng-hide="isEditMode()">

		<div id="queue-preferences-overview" ng-show="hasPreferences" class="{minimized: isViewingMatches()}">

			<ul>
				<li ng-repeat="sport in preferences.sports" class="queue-sport-tag">
					{{game.sport.image}}
					{{game.sport.name}}
				</li>
			</ul>

			{{preferences.city}}
			{{preferences.ageMin}}
			{{preferences.ageMax}}
			{{gameType()}}

		</div>

		<div id="queue-game-matches" ng-show="isViewingMatches()">

			<ul>
				<li ng-repeat="game in matches()" class="queue-game-row">
					{{game.sport.image}}
					{{game.sport.name}}
					{{game.numberOfPlayers}}
					{{game.date}}
					{{game.startTime}}
					{{game.endTime}}
					{{game.maxNumberOfPlayers}}

					<span ng-show="isJoined(game)">Joined</span>

					<button class="btn" ng-click="viewGame(game)">View</button>
					<button class="btn" ng-hide="isJoined(game)" ng-click="joinGame(game)">Join</button>
					<button class="btn" ng-hide="isJoined(game)" ng-click="declineGame(game)">Dismiss</button>

				</li>
			</ul>

		</div>

	</div>

</div>
