<div id="sportSelection" ng-controller="SportSelectionController as sportCtrl">
	
	<div id="instructions">
		Select your preferred sports.
		<button class="btn" ng-click="finish">
			Next
		</button>
	</div>

	<div id="sportPicker">
		<ul>
	    	<li ng-repeat="sport in sportCtrl.getSports" onclick="addSport(sport)">
	    		<img ng-src="{{sport.icon}}"/><br>{{sport.name}}<br>{{sport.desc}}
	    	</li>
	   </ul>
	</div>

	<div id="selectedSports">
		<ul>
	    	<li ng-repeat="sport in selectedSports">
	    		{{sport.name}}
	    		<button class="btn" ng-click="removeSport(sport)">
					<!-- TODO: 'X' image -->
				</button>
	    	</li>
	   </ul>
	</div>

</div>
