<div class = "container">
	<h1 class="page-header">Logged in Home :D <small>Cool, you managed to log in!</small> </h1>
	
	<div id="users" ng-controller="UserController as userCtrl">

        <div class="page-header"><h1>Users <button ng-click="userCtrl.refresh()" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-refresh"></span></button></h1></div>

        <alert type="Success" ng-controller="UITestController as uiCtrl" ng-hide="uiCtrl.shouldHide()" close="uiCtrl.closeAlert()">Look! I'm using AngularJS UI to display an alert! :D</alert>

        <div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in userCtrl.users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
              </tr>
            </tbody>
          </table>
        </div>
	
</div>