<div id="create-game">

  <div id="instructions">
    Create your game.
    <button class="btn" ng-show="isReady()" ng-click="create()">Create</button>
  </div>

  <div id="game-panel">
    <div id="game-information">

      <!-- SPORT SELECTION -->
      <div class="hairline"></div>
      <div class="top row">

        <div class="btn-group col-md-6">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              <img class="sport-thumbnail ddl-button-content" ng-src="{{selectedSport.image}}"/>
              <span class="ddl-sport-name ddl-button-content">{{selectedSport.sport}}</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="sport in allSports track by $index" ng-click="toggle(sport)" ng-class="{selected: isSelected(sport)} menu-item">
              <img class="sport-thumbnail ddl-button-content" ng-src="{{sport.image}}"/>
              <span class="ddl-sport-name ddl-button-content">{{sport.sport}}</span></br></br>
            </li>
          </ul>
        </div>

        <div class="location-information col-md-6">

          <div class="city">
          <h3>City</h3> <input type="text" ng-model="gameLocation.city" class="form-control"/>
          </div>
          <div class="details">
          <h3>Details</h3> <textarea type="text" ng-model="gameLocation.details" class="form-control"/>
          </div>
        </div>

      </div>

      <div class="hairline"></div>

      <div class="date-information row">

        <div class="col-md-4">
          <h2>Date</h2>
          <input kendo-date-picker k-ng-model="gameDate"/>
        </div>
        <div class="col-md-4">
          <h2>Start Time</h2>
          <input kendo-time-picker k-ng-model="gameTime.start" />
        </div>
        <div class="col-md-4">
          <h2>End Time</h2>
          <input kendo-time-picker k-ng-model="gameTime.end" />
        </div>

      </div>

      <div class="hairline"></div>

      <h2>Maximum number of players</h2>
      <input type="text" ng-model="players.maxAmount" class="form-control"/>


      <!-- <div class="btn-group">
        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          {{duration}}
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="i in getNumber(5) track by \$index" ng-click="setDuration(\$index)">{{\$index}}</li>
        </ul>
      </div> -->



    </div>


    <div id="invited-friends">

    </div>
  </div>
</div>
