<h1 class="page-header">View Games</h1>
<div id="viewGames">
	<div class="notifications">
		<div ng-show="viewGames.hasNotifications()" class="alert alert-info" role="alert">You have {{viewGames.hasNotifications()}} notifications</div>
		<div ng-show="viewGames.hasNotifications()">
			<h2>My Notifications</h2>
			<div class="row notification btn btn-default" ng-repeat="notification in viewGames.getNotifications()">
				<div class="row">
					<div class="col-md-3">
						<img class="sport" ng-src='{{notification.sportImg}}' /> {{notification.sport}}
					</div>					
					<div class="col-md-3">
						Location: {{notification.location}}
					</div>
					<div class="col-md-3">
						Date: {{notification.gameDate | date}} <br />
						Time: {{notification.gameStart}}
					</div>
					<div class="col-md-3">
						<a class="btn btn-primary" ui-sref="app.viewGame({creatorId: notification.creator, gameId: notification.gameID})">View Game</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6"></div>
					<div class="col-md-3">
						Invited By: <a ui-sref="app.user({userId: notification.invitedBy})">{{notification.invitedByName}}</a>
					</div>
					<div class="col-md-3">
						<button type="button" ng-click="viewGames.acceptGame(notification)" class="btn btn-success">Accept</button>
						<button type="button" ng-click="viewGames.declineGame(notification)" class="btn btn-danger">Decline</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row games" ng-show="viewGames.hasGames()">
		<h2>My Games</h2>
		<div class="game row btn btn-default" ng-repeat="game in viewGames.getGames()" >
			<div class="col-md-3"><img class="sport" ng-src='{{game.sportImg}}' /> {{game.sport}}</div>
			<div class="col-md-4">
				Location: {{game.location}}
			</div>
			<div class="col-md-3">
				Date: {{game.gamedate | date}} <br />
				Time: {{game.gamestart}}
			</div>
			<div class="col-md-2">
				<a class="btn btn-primary" ui-sref="app.viewGame({creatorId: game.creator, gameId: game.gameid})">View Game</a>
			</div>
		</div>
	</div>
</div>
