<div id="viewGame" ng-show="viewGame.isGameLoaded()">
	<div class="alert alert-warning" ng-hide="viewGame.isPublic() || viewGame.isJoined() || viewGame.isInvited(viewGame.getUser())">
		This game is private, please ask the creator to invite you if you wish to join.
	</div>
	<div ng-show="viewGame.isPublic() || viewGame.isJoined() || viewGame.isInvited(viewGame.getUser())">
		<h1 class="page-header" ng-init="game = viewGame.getGame()">Game Info</h1>
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<h2><img class="sport" ng-src="{{game.sportImg}}" />{{game.sport}}</h2>
				</div>
				<div class="row date">
					{{game.gameDate | date}}<br/>
					{{game.gameStart}} - {{game.gameEnd}}
				</div>
				<div class="row location">
					{{game.location}}
				</div>
				<div class="row">
					<ul>
						<li>Age Demographic: {{game.minAge}} - {{game.maxAge}}</li>
						<li>Players Desired: {{game.minPlayers}} - {{game.maxPlayers}}</li>
					</ul>
				</div>
				<div class="row invite">
					Current Players: ({{viewGame.getPlayers().length}})
					<div class="btn-group" ng-show="viewGame.isJoined()">
						<span class="btn btn-primary" pop-over that="viewGame.getThis()" title="Invite Friends">Invite</span>
					</div>
				</div>
				<div class="row players">
					<script type="text/javascript">
						$(document).ready(function(){
							$('[data-toggle="tooltip"]').tooltip();   
						});
					</script>
					<a ng-repeat="player in viewGame.getPlayers() track by $index" ui-sref="app.user({userId: player.login})" ><img data-toggle="tooltip" tooltip data-placement="bottom" title="{{player.firstname}} {{player.lastname}}" class="player" ng-src="{{player.profilepicture}}"/></a>
				</div>
				
				<div class="row invited">
					<script type="text/javascript">
						$(document).ready(function(){
							$('[data-toggle="tooltip"]').tooltip();   
						});
					</script>
					<a ng-repeat="player in viewGame.getInvited() track by $index" ui-sref="app.user({userId: player.login})" ><img data-toggle="tooltip" tooltip data-placement="bottom" title="{{player.firstname}} {{player.lastname}}" class="player" ng-src="{{player.profilepicture}}"/></a>
				</div>
				
			</div>
			<div class="col-md-6" ng-show="viewGame.isMessagesLoaded()">
				<div class="messages-container">
					<span class="alert alert-info" ng-hide="viewGame.isJoined()">
						You must join the game to view and post messages.
					</span>
					<div ng-show="viewGame.isJoined()">
						<div class="panel-body" scroll-glue>
							<ul id="messages">
								<li class="message left clearfix" ng-repeat="message in viewGame.getMessages()">
									<!--
									<span class="chat-img pull-left">
										PLACE IMAGE HERE 
									</span>
								-->
								<div class="chat-body clearfix">
									<div class="header">
										<strong class="primary-font">{{message.from}}</strong> 
										<small class="pull-right text-muted">
											<span class="glyphicon glyphicon-time"></span>{{message.time | date}}
										</small>
									</div>
									<p>
										{{message.message}}
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer">
						<form class="input-group">
							<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="message">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary btn-sm" ng-click="viewGame.postMessage(message)" id="btn-chat">
									Send
								</button>
							</span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- <button type="button" class="btn btn-primary" ng-click="viewGame.requestJoin()" ng-show="!viewGame.isPublic() && !viewGame.isJoined() && !viewGame.isInvited(viewGame.getUser())">Request to Join</button> -->
		<button type="button" class="btn btn-warning" ng-click="viewGame.leaveGame()" ng-show="viewGame.isJoined()">Leave Game</button>
		<button type="button" class="btn btn-success" ng-click="viewGame.joinGame()" ng-show="viewGame.isInvited(viewGame.getUser()) || (viewGame.isPublic() && !viewGame.isJoined())">Join Game</button>
		<button type="button" class="btn btn-danger" ng-click="viewGame.declineGame()" ng-show="viewGame.isInvited(viewGame.getUser())">Decline</button>
	</div>
</div>
</div>