<div id="viewGame" ng-show="viewGame.isGameLoaded()">
	<div class="alert alert-warning" ng-hide="viewGame.isPublic() || isJoined(getUser()) || isInvited(getUser())">
		This game is private, please ask the creator to invite you if you wish to join.
	</div>
	<div ng-show="viewGame.isPublic() || isJoined(getUser()) || isInvited(getUser())" ng-init="game = viewGame.getGame()">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<h2><img class="sport" ng-src="{{game.sportImg}}" />{{game.sport}}</h2>
				</div>
				<div class="row info">
					<h3>Date: <small>{{game.gameDate | date}}</small></h3>
					<h3>Time: <small>{{game.gameStart}} - {{game.gameEnd}}</small></h3>
					<h3>Location: <small>{{game.location}}</small></h3>
					<h3>Age Demographic: <small>{{game.minAge}} - {{game.maxAge}}</small></h3>
					<h3>Players Desired: <small>{{game.minPlayers}} - {{game.maxPlayers}}</small></h3>
				</div>
				<div class="row invite">
					<h3>Current Players: <small>({{viewGame.getPlayers().length}})</small>
					<div class="btn-group" ng-show="isJoined(getUser()) && viewGame.getFriends().length">
							<span class="btn btn-primary" pop-over that="viewGame.getThis()" title="Invite Friends">Invite</span>
						</div>
					</h3>
				</div>
				<div class="row players">
					<script type="text/javascript">
						$(document).ready(function(){
							$('[data-toggle="tooltip"]').tooltip();   
						});
					</script>
					<a ng-repeat="player in viewGame.getPlayers() | filter:isJoined track by $index" ui-sref="app.user({userId: player.login})" ><img data-toggle="tooltip" tooltip data-placement="bottom" title="{{player.firstname}} {{player.lastname}}" class="player" ng-src="{{player.profilepicture}}"/></a>
				</div>
				
				<div class="row invited" ng-show="hasInvited()">
					<h3>Invited</h3>
					<script type="text/javascript">
						$(document).ready(function(){
							$('[data-toggle="tooltip"]').tooltip();   
						});
					</script>
					<a ng-repeat="player in viewGame.getPlayers() | filter:isInvited track by $index" ui-sref="app.user({userId: player.login})" ><img data-toggle="tooltip" tooltip data-placement="bottom" title="{{player.firstname}} {{player.lastname}}" class="player" ng-src="{{player.profilepicture}}"/></a>
				</div>
				
			</div>
			<div class="col-md-6">
				<div class="messages-container">
					<span class="alert alert-info" ng-hide="isJoined(getUser())">
						You must join the game to view and post messages.
					</span>
					<div ng-show="isJoined(getUser())">
						<div class="panel-body" scroll-glue>
							<ul id="messages">
								<li class="message left clearfix" ng-repeat="message in viewGame.getMessages()">
									<!--
									<span class="chat-img pull-left">
										PLACE IMAGE HERE 
									</span>
								-->
								<div class="chat-body clearfix">
									<div class="header">
										<strong class="primary-font">{{message.from}}</strong> 
										<small class="pull-right text-muted">
											<span class="glyphicon glyphicon-time"></span>{{message.time | date}}
										</small>
									</div>
									<p>
										{{message.message}}
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer">
						<form class="input-group">
							<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="message">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary btn-sm" ng-click="viewGame.postMessage(message)" id="btn-chat">
									Send
								</button>
							</span>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row buttons">
		<button type="button" class="btn btn-warning" ng-click="viewGame.leaveGame()" ng-show="isJoined(getUser())">Leave Game</button>
		<button type="button" class="btn btn-primary" ng-click="viewGame.joinGame()" ng-show="(viewGame.isPublic() && !isJoined(getUser()) && !isInvited(getUser()))">Join Game</button>
		<button type="button" class="btn btn-success" ng-click="viewGame.acceptGame()" ng-show="isInvited(getUser())">Accept</button>
		<button type="button" class="btn btn-danger" ng-click="viewGame.declineGame()" ng-show="isInvited(getUser())">Decline</button>
	</div>
</div>
</div>