<body>
	<p>
		<div>
			<div ng-show="viewProfile.isLoaded()" class="profile row">
				<div class="row">
					<div class="profileImageHolder col-md-3">
						<img class="profileImage img-thumbnail" ng-src="{{viewProfile.getProfilePicture()}}"></img>
					</div>	
					<div class = "profileInfoHolder col-md-6">
						<div class="profileNameHolder row" >
							<div class="profileName" >
								<div>{{viewProfile.getFullName()}}, {{ viewProfile.getAge() }}</div>
								<!--<div class="profileEditNameInput" ng-show="viewProfile.isEditing()">
									<input type="text" ng-model="user.firstname"></input>
									<input type="text" ng-model="user.lastname"></input>
									, {{ viewProfile.getAge() }}
								</div>!-->
							</div>
						</div>

						<div class="profileCity row">
							<div ng-hide="viewProfile.isEditingCity()">
									{{ viewProfile.getCity() }}
									<div ng-click="viewProfile.editCity()" ng-show="viewProfile.isEditing()" class="btn btn-default">Edit City</div>									
							</div>

							<div class="profileEditCity" ng-show="viewProfile.isEditing() && viewProfile.isEditingCity()">
									<input type="text" ng-model="viewProfile.tempCity"></input>
									<div ng-click="viewProfile.saveCity()" class="btn btn-success">Save</div>
									<div ng-click="viewProfile.cancelCity()" class="btn btn-danger">Cancel</div>
							</div>
							
						</div>
					</div>	
					<div class="profileButtonHolder col-md-3">
						<button ng-show="viewProfile.isSelf() && !viewProfile.isEditing()" ng-click="viewProfile.editProfile()" class="profileSpecialButton btn btn-primary">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
							&nbsp;&nbsp;Edit Profile
						</button> 

						<button ng-show="!viewProfile.isFriend() && !viewProfile.isSelf()" ng-click="viewProfile.addFriend()" class="profileSpecialButton btn btn-success">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							&nbsp;Add Friend
						</button>

						<button ng-show="viewProfile.isFriend() && !viewProfile.isSelf()" ng-click="viewProfile.removeFriend()" class="profileSpecialButton btn btn-warning">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
							&nbsp;Remove Friend
						</button> 

						<!--
						<button ng-show="viewProfile.isSelf() && viewProfile.isEditing()" ng-click="viewProfile.saveProfile()" class="profileSpecialButton btn btn-success">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							&nbsp;Save
						</button> 

						<button ng-show="viewProfile.isSelf() && viewProfile.isEditing()" ng-click="viewProfile.cancelProfile()" class="profileSpecialButton btn btn-danger">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							&nbsp;Cancel
						</button> 
						!-->


					</div>
				</div>

				<hr>

				<div class="profileRatingContainer row">
					<div class="profileCategoryTitle col-md-4">

					<div class="row">Rating</div>
					<div ng-hide="viewProfile.isEditing()">
						<div ng-hide="viewProfile.isRating()" ng-click="viewProfile.rate()" class="btn btn-warning">Rate Me!</div>
						<div ng-show="viewProfile.isRating()" ng-click="viewProfile.saveRate()" class="btn btn-success">Rate</div>
						<div ng-show="viewProfile.isRating()" ng-click="viewProfile.cancelRate()" class="btn btn-danger">Cancel</div>
					</div>

					</div>

					<div class='col-md-8'>

						<div class="ratingsHolder row">
							<div class="col-xs-4">
								<div class="row">
									<div class="barGraphBarHolder">
										<div ng-hide="viewProfile.isRating()" class="barGraphBar" style="height: {{100/5 * viewProfile.getFriendliness()}}%;">
											<div class="barGraphBarValue">{{ viewProfile.getFriendliness() }}</div>
										</div>
										<div  ng-show="viewProfile.isRating()" class="barGraphBar editGraphBar" style="height: {{100/5 * viewProfile.tempRating.friendliness}}%;">
											<div class="barGraphBarValue">{{viewProfile.tempRating.friendliness}}</div>
										</div>
									</div>
								</div>
								<div class="barGraphLabel row">
									Friendliness
								</div>
							</div>
							<div class="col-xs-4">
								<div class="row">
									<div class="barGraphBarHolder">
										<div class="barGraphBar" style="height: {{100/5 * viewProfile.getTimeliness()}}%;">

											<div class="barGraphBarValue">{{ viewProfile.getTimeliness() }}</div>
										</div>

									</div>
								</div>
								<div class="barGraphLabel row">
									Timeliness
								</div>
							</div>
							<div class="col-xs-4">
								<div class="row">
									<div class="barGraphBarHolder">
										<div class="barGraphBar" style="height: {{100/5 * viewProfile.getSkill()}}%;">
											<div class="barGraphBarValue">{{ viewProfile.getSkill() }}</div>
										</div>
									</div>
								</div>
								<div class="barGraphLabel row">
									Skill
								</div>
							</div>
						</div>


					</div>
				</div>

				<hr>

				
				<div class="profileSportContainer row">
					<div class="col-md-4">

					<div class="profileCategoryTitle row">Favorite Sports</div>

					<div ng-show="viewProfile.isEditing()">
									<input class="col-xs-7" auto-complete ui-items="allSports" ng-model="selectedSport">
									<div class="col-xs-5">
										<button type="submit" ng-click="addFavoriteSport()" class="btn btn-success" ng-disabled="!isSportSelected()">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Sport
										</button>
									</div>
								</div>
					</div>
					<div class='profileSportHolder col-md-8'>
						<div class="profileSportList">

							<!--
								<div>
								<div ng-show="viewProfile.isEditing()" ng-click="viewProfile.addSport()" class='profileSport btn btn-success'>
									<img ng-src="/assets/img/sports/add.png"></img>
									<div class="sportName">Add Sport</div>
								</div>
								
								<div ng-show="viewProfile.isEditing()">
									<input auto-complete ui-items="allSports" ng-model="selectedSport">
									<button type="submit" class="btn btn-success" ng-disabled="!isSportSelected()">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Sport
									</button>
								</div>
							</div> !-->

							<div ng-repeat="sport in viewProfile.getCurrentSports()" class='profileSport'>

								<script type="text/javascript">
									$(document).ready(function(){
				    					$('[data-toggle="tooltip"]').tooltip();   
									});
								</script>

								<div>
								<span ng-click="deleteFavoriteSport(sport)" ng-show="viewProfile.isEditing()" style="color:red" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								<img data-toggle="tooltip" tooltip data-placement="bottom" title="{{sport.sportsName}}" ng-src="{{sport.sportImage}}"></img>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</p>
</body>
