<body>
	<p>
		<div>
			<div class="profile row">
				<div class="row">
					<div class="profileImageHolder col-md-3">
						<img class="profileImage" ng-src="{{viewProfile.getProfilePicture()}}"></img>
					</div>	
					<div class = "profileInfoHolder col-md-6">
						<div class="profileNameHolder row" >
							<div class="profileName" >
								{{viewProfile.getFullName()}}, {{ viewProfile.getAge() }}
							</div>
						</div>

						<div class="profileCity row">
							{{ viewProfile.getCity() }}
						</div>
					</div>	
					<div class="profileButtonHolder col-md-3">
						<button ng-show="viewProfile.isSelf()" ng-click="viewProfile.editProfile()" class="profileSpecialButton btn btn-primary">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
							&nbsp;&nbsp;Edit Profile
						</button> 

						<button ng-show="!viewProfile.isFriend() && !viewProfile.isSelf()" ng-click="viewProfile.addFriend()" class="profileSpecialButton btn btn-success">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							&nbsp;Add Friend
						</button>

						<button ng-show="viewProfile.isFriend() && !viewProfile.isSelf()" ng-click="viewProfile.removeFriend()" class="profileSpecialButton btn btn-warning">
							<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
							&nbsp;Remove Friend
						</button>  
					</div>
				</div>

				<hr>

				<div class="profileRatingContainer row">
					<div class="profileCategoryTitle col-md-4">Rating</div>
					<div class='col-md-8'>

						<div class="ratingsHolder row">
							<div class="col-xs-4">
								<div class="row">
									<div class="barGraphBarHolder">
										<div class="barGraphBar" style="height: {{100/5 * viewProfile.getFriendliness()}}%;">
											<div class="barGraphBarValue">{{ viewProfile.getFriendliness() }}</div>
										</div>
									</div>
								</div>
								<div class="barGraphLabel row">
									Friendliness
								</div>
							</div>
							<div class="col-xs-4">
								<div class="row">
									<div class="barGraphBarHolder">
										<div class="barGraphBar" style="height: {{100/5 * viewProfile.getTimeliness()}}%;">

											<div class="barGraphBarValue">{{ viewProfile.getTimeliness() }}</div>
										</div>

									</div>
								</div>
								<div class="barGraphLabel row">
									Timeliness
								</div>
							</div>
							<div class="col-xs-4">
								<div class="row">
									<div class="barGraphBarHolder">
										<div class="barGraphBar" style="height: {{100/5 * viewProfile.getSkill()}}%;">
											<div class="barGraphBarValue">{{ viewProfile.getSkill() }}</div>
										</div>
									</div>
								</div>
								<div class="barGraphLabel row">
									Skill
								</div>
							</div>
						</div>


					</div>
				</div>

				<hr>

				<div class="profileSportContainer row">
					<div class="profileCategoryTitle col-md-4">Favorite Sports</div>
					<div class='profileSportHolder col-md-8'>
						<div class="profileSportList">
							<div ng-repeat="sport in viewProfile.getFavoriteSports()" class='profileSport'>
								<img ng-src="{{sport.sportImage}}"></img>
								<div class="sportName">{{sport.sportName}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</p>
</body>
